.table {
  border: 1px solid #ccc;
  th {
    background: #ddd;
    font-weight: bold;
    padding: 8px 10px;
  }
  thead {
    border: 1px solid #ccc;
  }
  tbody {
    border: 1px solid #ccc;
  }
  thead + tbody {
    border-top-width: 0px;
  }
  td {
    border-bottom: 1px solid #ccc;
    padding: 8px 10px;
  }
  td.strong {
    background: #eee;
    border: 1px solid #ccc;
    border-top: none;
  }
  td.strong .parent {
    &:after,
    &:before {
      @include triangle('left', 5px, 10px, #eee);
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: -15px;
      z-index: 2;
    }
    &:before {
      @include triangle('left', 7px, 12px, #ccc);
      z-index: 1;
      margin-top: -6px;
      left: -17px;
    }
  }
}

.table--extras {
  border: 0;
  thead {
    border-color: $purple-light;
    border-bottom: 0;
  }
  th {
    background: $purple-light;
    border: 0;
    color: #fff;
    font-weight: normal;
  }
  th.strong {
    background: darken($purple-light, 10%);
  }
}

.table--artificial-aids tr {
  height: 122px;
}

.table--artificial-aids .parent {
  font-size: 13px;
  line-height: 18px;
}